.main-menu-button:hover {
    rotate: -15deg;
}

.main-menu-button {
    font-size: 28px;
    margin-right: 16px;
    margin-left: 16px;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
}

.shake-start {
    translate: 5% 5px;
}

.shake-end {
    translate: -5% -5%;
}

.main-menu-back-button {
    rotate: -10deg;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
}
